<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
  <meta charset="UTF-8">
  <title>quiz2</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>Xiaopu Jing 01563</h1>
<!--<img src="../static/imgs/np.jpg" />-->
<table id="studentsTable">
  <tr>
    <thead>
    <th>time</th>
    <th>latitude</th>
    <th>longitude</th>
    <th>mag</th>
    <th>net</th>
    <th>place</th>
    </thead>
  </tr>
 <tbody></tbody>

</table>

<h1>query</h1>

<!-- Write a form to query by name -->
<div>
<form>
  <label for="quiz2Time" placeholder="Enter name">time：</label>
  <input type="text" id="quiz2Time" name="quiz2Time">
  <button type="button" onclick="searchByTime()">Search</button>
</form>
</div>
<!-- Write a form to query based on ID interval values -->
<div>
<form>
  <label for="minMag">min mag：</label>
  <input type="number" id="minMag" name="minMag">
  <label for="maxMag">max mag：</label>
  <input type="number" id="maxMag" name="maxMag">
  <label for="net">net：</label>
  <input type="text" id="net" name="net">
  <button type="button" onclick="searchByMag()">Serach</button>
</form>
</div>
<!-- Write a form for querying based on grade interval values -->
<h3>Add Data</h3>
<form id = "add" action="/save" method="post">
  <input type="text" name="quiz2Time" placeholder="Enter time">
  <input type="text" name="latitude" placeholder="Enter latitude">
  <input type="text" name="longitude" placeholder="Enter longitude">
  <input type="number" name="mag" placeholder="Enter mag">
  <input type="text" name="net" placeholder="Enter net">
  <input type="text" name="place" placeholder="Enter place">
  <input type="submit" value="Save">
</form>
<h3>Update Data</h3>
<form id = "update" action="/save" method="post">
  <input type="text" name="quiz2Time" placeholder="Enter time">
  <input type="text" name="latitude" placeholder="Enter latitude">
  <input type="text" name="longitude" placeholder="Enter longitude">
  <input type="number" name="mag" placeholder="Enter mag">
  <input type="text" name="net" placeholder="Enter net">
  <input type="text" name="place" placeholder="Enter place">
  <input type="submit" value="Save">
</form>
<h3>Update Mag</h3>
<form id = "updateMag" action="/addMagNum" method="post">
  <label for="minMag">min mag：</label>
  <input type="text" id="minMag1" name="minMag">
  <label for="maxMag">max mag：</label>
  <input type="text" id="maxMag1" name="maxMag">
  <label for="net">net：</label>
  <input type="text" id="net1" name="net">
  <label for="numMag">Inc：</label>
  <input type="text" id="numMag" name="numMag" placeholder="need to add num">
  <input type="submit" value="Update">
</form>
<script>
  function searchByTime() {
    debugger
    const quiz2Time = $('#quiz2Time').val();
    console.log(quiz2Time);
    $.ajax({
      url: '/api/quiz2/queryByTime/' + quiz2Time,
      method: 'GET',
      success: function (data) {
        $('#studentsTable tbody').empty(); // 清空表格内容
        console.log(data.data);
        if (data.data.length == 0) {
          alert('no data')
        } else {
          console.log(data.data);
          // 循环遍历数据，并添加到表格中
          $.each(data.data, function (index, item) {
            var row = '<tr>' +
                    '<td>' + item.quiz2Time + '</td>' +
                    '<td>' + item.latitude + '</td>' +
                    '<td>' + item.longitude + '</td>' +
                    '<td>' + item.mag + '</td>' +
                    '<td>' + item.net + '</td>' +
                    '<td>' + item.place + '</td>' +
                    '<td><button type="button" class="btnClick">Delete</button></td>' +
                    '</tr>';
            $('#studentsTable tbody').append(row);
          });
        }
        /*$('.btnClick').off('click').on('click'.function(){
          const quiz2Time = $(this).data('quiz2Time');
          deleteStudent(quiz2Time);
        })*/
      },
      error: function (xhr, status, error) {
        console.error('Failed to load students:', error);
      }
    });
  }
</script>
<style type="text/css">
  table{
    border-collapse: collapse;
    width: 100%;
  }
  th, td{
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even){
    background-color: #f2f2f2;
  }
  img{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
  }
  form{
    margin-top: 20px;
  }
</style>
</body>
</html>
