<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
  <meta charset="UTF-8">
  <title>quiz2</title>
  <link rel="stylesheet" href = "/static/css/indexquiz2.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/static/js/indexquiz3.js"></script>
</head>
<body>
<h1>Xiaopu Jing 01563</h1>
<!--<img src="../static/imgs/np.jpg" />-->
<table id="studentsTable">
  <tr>
    <thead>
    <th>City</th>
    <th>State</th>
    <th>Population</th>
    <th>lat</th>
    <th>lon</th>
    </thead>
  </tr>

</table>

<h1>query</h1>

<!-- Write a form to query by name -->
<h3>query by city</h3>
<div>
<form>
  <label for="city" placeholder="Enter name">City：</label>
  <input type="text" id="city" name="city">
  <button type="button" onclick="searchByTime()">Search</button>
</form>
</div>
<!--
 Write a form to query based on ID interval values
-->
<h3>query by population</h3>
<div>
<form>
  <label for="minMag">min：</label>
  <input type="number" id="minMag" name="minNum">
  <label for="maxMag">max：</label>
  <input type="number" id="maxMag" name="maxNum">
 <!-- <label for="net">net：</label>
  <input type="text" id="net" name="net">-->
  <button type="button" onclick="searchByMag()">Serach</button>
</form>
</div>

<h3>query by population random N</h3>
<div>
  <form>
    <label for="minMag">min：</label>
    <input type="number" id="minMag2" name="minNum">
    <label for="maxMag">max：</label>
    <input type="number" id="maxMag2" name="maxNum">
    <label for="num">N：</label>
    <input type="number" id="num" name="n">
    <button type="button" onclick="searchByNum()">Serach</button>
  </form>
</div>

<!-- Write a form for querying based on grade interval values -->
<!--<h3>Add Data</h3>
<form id = "add">
  <input type="text" name="quiz2Time" placeholder="Enter time">
  <input type="text" name="latitude" placeholder="Enter latitude">
  <input type="text" name="longitude" placeholder="Enter longitude">
  <input type="number" name="mag" placeholder="Enter mag">
  <input type="text" name="net" placeholder="Enter net">
  <input type="text" name="place" placeholder="Enter place">
  <input type="submit" value="Save">
</form>-->
<!--<h3>Update Data</h3>
<form id = "update" >
  <input type="text" name="quiz2Time" placeholder="Enter time">
  <input type="text" name="latitude" placeholder="Enter latitude">
  <input type="text" name="longitude" placeholder="Enter longitude">
  <input type="number" name="mag" placeholder="Enter mag">
  <input type="text" name="net" placeholder="Enter net">
  <input type="text" name="place" placeholder="Enter place">
  <input type="submit" value="Update">
</form>-->
<h3>Add Population</h3>
<form id = "updateMag">
  <label for="minMag">min：</label>
  <input type="number" id="minMag1" name="minNum">
  <label for="maxMag">max：</label>
  <input type="number" id="maxMag1" name="maxNum">
  <label for="state">State：</label>
  <input type="text" id="state" name="state">
  <label for="numMag">Inc：</label>
  <input type="number" id="numMag" name="incNum" placeholder="need to add num">
  <input type="submit" value="Update">
</form>

<h3>query by cache</h3>
<div>
  <form>
    <label for="minMag">min：</label>
    <input type="number" id="minMag3" name="minNum">
    <label for="maxMag">max：</label>
    <input type="number" id="maxMag3" name="maxNum">
    <button type="button" onclick="searchByNum()">Serach</button>
  </form>
</div>

<h3>query by cache with N</h3>
<div>
  <form>
    <label for="minMag">min：</label>
    <input type="number" id="minMag4" name="minNum">
    <label for="maxMag">max：</label>
    <input type="number" id="maxMag4" name="maxNum">
    <label for="num">N：</label>
    <input type="number" id="num1" name="n">
    <button type="button" onclick="searchByNum()">Serach</button>
  </form>
</div>
<!--<script>

  $('#add').submit(function (event) {
    debugger
    event.preventDefault();

    const formData = $(this).serializeArray();
    const jsonData = {};

    $.each(formData, function (index, field) {
      jsonData[field.name] = field.value;
    });

    $.ajax({
      url: '/api/quiz2/save',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify(jsonData),
      success: function (data) {
        alert('Success!');
        console.log(data);
      },
      error: function (error) {
        console.error(error);
      }
    });
  });
</script>-->
</body>
</html>
